*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}
body{
	font-family: sans-serif;
	height: auto;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	background:pink;
	
}
@media screen and (max-width: 800px){
	body{
		width: 100%;
		overflow-x:hidden;
	}
}
.top-container{
	width: 160%;
	height: auto;
	display: inline-block;
}
.bottom-container{
	width: 100%;
	position: absolute;
}
.img-bg{
	width:50%;
	margin-top: -30vh;
	right: 0px;
	float: left;
	height: 130vh;
	overflow: hidden;
	border-radius: 50%;
	z-index: -3;
	box-shadow: 5px  10px 5px 5px orange;

}
.img-bg img{
	width: 100%;
	height: 105vh;
	margin-top: 29vh;
	z-index: -3;
	position: relative;
}
.name{
	margin-top:35vh;
	margin-right: -30%;
	width: 50%;
	font-size: 90px;
	float: left;
	z-index: 300;
}
.name h2{
	padding-left: 0px;
	color:#fff;
	z-index: 300;
	text-shadow:orange 1px 0 10px;
	font-family: 'Lobster', cursive;
}
@media screen and (max-width: 600px){
 .img-bg{
 	height: 100vh;
 }
 .name{
 	top:45%;
 }
 .name h2{
 	font-size: 80px;
 }
}
.content{
	position: relative;
	width: 100%;
	height: auto;
}
.content .title{
	font-weight: bold;
	text-transform: uppercase;
	font-style: italic;
	font-size: 50px;
	margin-bottom: 50px;
	list-style: none;
	text-align: center;
	align-items: center;
}
.rainbow{
	 background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.33, #f2f), color-stop(0.6, #22f), color-stop(1, #2ff) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.33, #f2f), color-stop(0.6, #22f), color-stop(1, #2ff) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.content   a{
	text-decoration: none;
}
.content .title img{
	margin-bottom: -15px;
}
.content .section{
	align-items: center;
	text-align: center;
	font-size: 40px;
}
.content .section h5{
	padding-top: 50px;
	padding-left: 10px;
	padding-right: 10px;
	color: #fff;
	text-shadow:red 1px 0 10px;
}
.section img{
	width: 40px;
	height:40px;
	margin-bottom: -5px;
}
.section a{
	text-decoration: none;
	color: navy;
}